* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.figures {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: row;
    margin-bottom: 20px;
    font-weight: 900;
}

.figure {
    border: 1px solid;
    border-radius: 20%;
    margin: 20px;
    padding: 20px;
}

img {
    margin-bottom: 20px;
}

